body {
    margin: 0;
}
nav {
    display: flex;
    background-color: gray;
    padding: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

#home-top {
    padding: 30px 15px;
    background-image: url('steak.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    filter: brightness(90%);
    width: 100%;
    box-sizing: border-box;
    height: 80vh;
}

#home-top-content {
    font-size: 72px;
    color: white;
    text-align: center;
}

#home-top div button {
    width: fit-content;
}

#home-top-img {
    background: black;
    border-radius: 15px;
    width: 500px;
    height: 500px;
}